sudo: false

env:
  global:
  - TRAVIS_NODE_VERSION="5.5"

notifications:
  email: false

branches:
  only:
  - master

matrix:
  include:
  - os: linux
    env: CORDOVA_VERSION="8.0.0" CORDOVA_PLATFORM="browser"
    language: node_js
    node_js: '${TRAVIS_NODE_VERSION}'


before_install:
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm
    && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm
    install ${TRAVIS_NODE_VERSION}
  - node --version
  - npm install -g cordova@${CORDOVA_VERSION}
  - cordova --version




install:
  - npm cache clean
  - npm install

script:
  - npm test
  - if [[ "$PLATFORM" =~ android ]]; then
      npm run paramedic_android;
    fi
