<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>22354553548-2a7u3kfdm1th0nasrfk2gaelleo99odf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22354553548-2a7u3kfdm1th0nasrfk2gaelleo99odf</string>
	<key>API_KEY</key>
	<string>AIzaSyDtsbIqHWlWNuTX-8FMT_IRoY_LVI2-iqU</string>
	<key>GCM_SENDER_ID</key>
	<string>22354553548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cordova.geofire.demo</string>
	<key>PROJECT_ID</key>
	<string>geofire-test-34492</string>
	<key>STORAGE_BUCKET</key>
	<string>geofire-test-34492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22354553548:ios:669773ad2ac1ef45</string>
	<key>DATABASE_URL</key>
	<string>https://geofire-test-34492.firebaseio.com</string>
</dict>
</plist>