<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-firebase-database-tests"
    version="4.0.2-dev">
    <name>Cordova Geolocation Plugin Tests</name>
    <license>Apache 2.0</license>

    <hook type="after_platform_add" src="after_plugin_install.js"/>
    <dependency id="cordova-firebase-core" url="/tmp/cordova-firebase-core/dist"/>

    <js-module src="tests.js" name="tests">
    </js-module>
</plugin>
